body {
    background-color: #ffffff;
}

.top-bar {
    background-color: #2275A5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-button {
    background-color: #FCAB69;
    font-family: 'Montaga';
    font-size: 25px;
    color: #000000;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
}

.my-comments-button {
    background-color: #FCAB69;
    font-family: 'Montaga';
    font-size: 25px;
    color: #000000;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
}

.logout-button {
    background-color: #FCAB69;
    font-family: 'Montaga';
    font-size: 25px;
    color: #000000;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
}

.principal-title-button {
    background-color: #2275A5;
    font-family: 'Montaga';
    font-size: 50px;
    color: #ffffff;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    margin: 10px;
}

.blog-comment {
    background-color: #2275A5;
    padding: 50px;
    margin: 50px;
}

.new-comment-title {
    background-color: #2275A5;
    padding: 20px;
    margin: 50px;
    font-family: 'Montaga';
    color: #ffffff;
    text-align: center;
}

.blog-comment-container1 {
    background-color: #2275A5;
}

.content {
    background-color: #ffffff;
    font-size: 20px;
    line-height: 2;
    margin: 10px;
    color: #ffffff;
    padding: 100px;
    text-align: justify;
    font-family: 'Roboto';
}

.blog-comment-container2 {
    background-color: #2275A5;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.new-comment-button {
    background-color: #FCAB69;
    font-family: 'Montaga';
    font-size: 25px;
    color: #000000;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
    width: 30%;
}
