body {
    background-color: #ffffff;
}

.top-bar {
    background-color: #2275A5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-post-button {
    background-color: #FCAB69;
    font-family: 'Montaga';
    font-size: 25px;
    color: #000000;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
}

.my-posts-button {
    background-color: #FCAB69;
    font-family: 'Montaga';
    font-size: 25px;
    color: #000000;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
}

.logout-button {
    background-color: #FCAB69;
    font-family: 'Montaga';
    font-size: 25px;
    color: #000000;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
}

.principal-title-button {
    background-color: #2275A5;
    font-family: 'Montaga';
    font-size: 50px;
    color: #ffffff;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    margin: 10px;
}

.new-post-title {
    background-color: #2275A5;
    padding: 20px;
    margin: 50px;
    font-family: 'Montaga';
    color: #ffffff;
    text-align: center;
}

.blog-post {
    background-color: #2275A5;
    padding: 50px;
    margin: 50px;
}

.blog-post-container1 {
    background-color: #2275A5;
    padding: 10px 0px;
}

.post-title {
    background-color: #FCAB62;
    padding: 10px;
    font-family: 'Montaga';
    margin: 10px;
    color: #000000;
    text-align: center;
}

.blog-post-container2 {
    background-color: #2275A5;
    padding: 10px 0px;
}

.write-post-title {
    background-color: #ffffff;
    padding: 30px;
    font-family: 'Montaga';
    margin: 10px;
    color: #000000;
    text-align: center;
}

.blog-post-container3 {
    background-color: #2275A5;
    padding: 10px 0px;
}

.post-content {
    background-color: #FCAB62;
    padding: 10px;
    font-family: 'Montaga';
    margin: 10px;
    color: #000000;
    text-align: center;
}

.blog-post-container4 {
    background-color: #2275A5;
    padding: 10px 0px;
}

.write-post-content {
    background-color: #ffffff;
    padding: 100px;
    font-family: 'Montaga';
    margin: 10px;
    color: #000000;
    text-align: center;
}

.blog-post-container5 {
    background-color: #2275A5;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posting-button {
    background-color: #FCAB69;
    font-family: 'Montaga';
    font-size: 25px;
    color: #000000;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
}
