body {
    background-color: #ffffff;
}

.top-bar {
    background-color: #2275A5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-post-button {
    background-color: #FCAB69;
    font-family: 'Montaga';
    font-size: 25px;
    color: #000000;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
}

.my-posts-button {
    background-color: #FCAB69;
    font-family: 'Montaga';
    font-size: 25px;
    color: #000000;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
}

.logout-button {
    background-color: #FCAB69;
    font-family: 'Montaga';
    font-size: 25px;
    color: #000000;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
}

.principal-title-button {
    background-color: #2275A5;
    font-family: 'Montaga';
    font-size: 50px;
    color: #ffffff;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    margin: 10px;
}

.blog-post {
    background-color: #2275A5;
    padding: 50px;
    margin: 50px;
}

.blog-post-container1 {
    background-color: #2275A5;
}

.post-title {
    background-color: #FCAB62;
    padding: 10px;
    font-family: 'Montaga';
    margin: 10px;
    color: #000000;
    text-align: center;
}

.blog-post-container2 {
    background-color: #2275A5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    background-color: #FCAB62;
    padding: 10px;
    font-family: 'Montaga';
    margin: 10px;
    color: #000000;
    text-align: center;
    flex-grow: 5;
}

.date {
    background-color: #FCAB62;
    padding: 10px;
    font-family: 'Montaga';
    margin: 10px;
    color: #000000;
    text-align: center;
    flex-grow: 1;
}

.blog-post-container3 {
    background-color: #2275A5;
}

.content {
    font-size: 20px;
    line-height: 2;
    margin: 10px;
    color: #ffffff;
    padding: 10px;
    text-align: justify;
    font-family: 'Roboto';
}

.blog-post-container4 {
    background-color: #2275A5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-container {
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-grow: 5;
}

.comments-button {
    background-color: #FCAB62;
    font-family: 'Montaga';
    font-size: 25px;
    color: #000000;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 50px;
    width: 100%;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    align-content: center;
}

.like-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.like-button {
    background-color: #2275A5;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.like-number-p {
    background-color: #2275A5;
    font-size: 30px;
}

.dislike-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.dislike-button {
    background-color: #2275A5;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.dislike-number-p {
    background-color: #2275A5;
    font-size: 30px;
}
